<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TestCase Editor"
            extensions="tst"
            icon="icons/sample.gif"
            contributorClass="com.facedev.testdev.editors.TestCaseEditorContributor"
            class="com.facedev.testdev.editors.TestCaseEditor"
            id="com.facedev.testdev.editors.TestCaseEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Testing"
            id="com.facedev.testdev">
      </category>
      <wizard
            name="New TestCase"
            icon="icons/sample.gif"
            category="com.facedev.testdev"
            class="com.facedev.testdev.wizards.NewTestCaseWizard"
            id="com.facedev.testdev.wizards.NewTestCaseWizard">
      </wizard>
   </extension>

</plugin>
