<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.facedev.js.debug.ui.JsBreakpoint"
            id="com.facedev.js.debug.ui.breakpoint"
            markerType="com.facedev.js.debug.ui.breakpoint.marker"
            name="Javascript Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.facedev.js.editor.JsEditor"
            class="com.facedev.js.debug.ui.JsBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.facedev.js.debug.ui.JsModelPresentation"
            id="com.facedev.js.debug.ui.model">
      </debugModelPresentation>
   </extension>

	<extension
         id="com.facedev.js.debug.ui.breakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent value="true">
      </persistent>
   </extension>
   
   <extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="com.facedev.js.editor"
			id="com.facedev.js.debug.ui.togglebreakpoint">
			<action label="Toggle Breakpoint"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				style="push" actionID="RulerDoubleClick" id="com.facedev.js.debug.ui.togglebreakpoint"/>
    	</editorContribution>
    </extension>
    
    <extension point="org.eclipse.ui.popupMenus">
		<viewerContribution targetID="com.facedev.js.editor#rulerContextMenu" id="com.facedev.js.debug.ui.togglebreakpoint.menu">
			<action label="Toggle Breakpoint" class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				menubarPath="additions" id="com.facedev.js.debug.ui.togglebreakpoint.menu">
       		</action>
   		</viewerContribution>
 	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution targetID="com.facedev.js.editor#rulerContextMenu" id="com.facedev.js.debug.ui.enablebreakpoint.menu">
			<action label="Enable Breakpoint" class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				menubarPath="additions" id="com.facedev.js.debug.ui.enablebreakpoint.menu">
			</action>
		</viewerContribution>
	</extension>
</plugin>
